<!DOCTYPE html>
<html>
  <head>
    <title>Some Website</title>
    <style>
        body {
            background-color:whitesmoke;
        }
    </style>
 
  </head>
  
  <body>
	{{>header}}
    <h1>{{pageTitle}}</h1>
    <p>{{Capt welcomeMessage}}</p>
    <img src="https://dbtagriculture.bihar.gov.in/MediaGallery/mandi.jpg" height="500"width="1000">
    <p>{{currentYear}}</p>
{{>footer}}
  </body>
</html>
