<html>
    <head>
        <meta charset="utf-8">
        <title>
            hodwqdkl
        </title>
         <style>
        body {
            background-color:wheat;
        }
    </style>
    </head>

    <body>
        {{>header}}
        <h1>{{pageTitle}}</h1>
        <h3>1.Shifting agriculture</h3>
        <p> This farming practice is mainly used by tribal groups to grow tuber and root crops. 
            Land is obtained by clearing a forested area and planting crops there. 
            When the land is no longer fertile, another area of land is cleared and the crops are shifted there.</p>
            <h3>2.Subsistence farming</h3>
            <p>
                 This is a widely-practiced farming technique can be seen all over India. The farmer and/or his family grow grains for
                  themselves or for sale at the local market.
            </p>
            <h3>3.Intensive agriculture</h3>
            <p>This farming practice can be seen in densely populated areas in India. It is an attempt to maximize the output of the land,
                 through the use of every possible effort. It requires a huge amount of capital in addition to a great deal of human 
                 labour, but more than one crop can be raised per year.</p>
            <h3>4.Extensive agriculture</h3>
            <p>This is the modern type of farming that can be seen largely in the developed world and in some parts of India. 
                It relies largely on machinery as opposed to a human labour force and raises one crop per year.</p>
            <h3>5.Commercial agriculture</h3>
            <p>The goal of commercial agriculture is a high yield, so that produce can be exported to other countries or areas for profit.
                 Wheat, cotton, sugarcane, and corn are some commercial crops and they are grown in states including Gujarat, Punjab, Haryana,
                  and Maharashtra.</p>
            <h3>6.Plantation agriculture</h3>
            <p> This style is often used for crops which require a lot of space and a long growing period, such as rubber, tea, coconut, 
                coffee, cocoa, spices, and fruits. Plantations are only capable of producing a single crop. Plantation agriculture is 
                practised in Kerala, Assam, Karnataka, and Maharashtra.</p>
            <h3>7.Dry land farming</h3>
            <p> As the name suggests, dry land farming is practised in the more arid and desert-like areas of the country, including 
                northwest and central India. Crops such as gramjowar, bajra, and peas have lower water requirements and can therefore be 
                grown in these conditions.</p>
            <h3>9.Wet land farming</h3>
            <p>Many areas of India are affected by heavy monsoon rains and subsequent flooding. Well-irrigated areas, such as those in 
                the northeast India and the Western Ghats, are suitable for farming rice, jute, and sugarcane.</p>

        <p>{{currentYear}}</p>
        {{>footer}}
    </body>
</html>