<header>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Regestraion No.</th>
    </tr>
    <tr>
        <td>Siddhartha kanojeya</td>
        <td>11712911</td>
    </tr>
</table>
</header>